:root{
--font-roboto: 'Roboto', sans-serif;
--font-Tajawal: 'Tajawal', sans-serif;
--font-wight-one:100;
--font-wight-tow:400;
--font-wight-three:500;
--font-wight-for:700;
--font-wight-five:900;
}

*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}
h6,a h6{
    font-family: var(--font-roboto);
    font-weight: var(--font-wight-three);
}
    
/* Start Footer */
.img-footer{
    background-image: url('../img/earth.1e24fcea5980ced232ec.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 20px;
}
.img-footer .footer{
    position: relative;
}
.opceti{
    background-color: #03000051;
    position: absolute;
    width: 100%;
    height: 100%;
}
/* End Footer */

/* start Shop page  */
/* start catagories */

.contet-catagories ul li{
    width: 50px;
    height: 50px;
}
.contet-catagories ul li .img-cat{
    background-size: cover;
    background-position: center;
    width: 100%;
}
.catagories .card{
    background: #ddd;
    padding: 10px;
}
.catagories .card:hover{
    transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
    }
    .catagories_said_bar ul li a{
        font-family: var(--font-roboto);
        font-weight: var(--font-wight-tow);
        color: #B1C4C8;
    }

.catagories_said_bar ul li a:hover{
background-color: #ddd;
color: black;
}
.small_desc{
    font-family: var(--font-roboto);
    font-weight: var(--font-wight-tow);
    color: #a5a8a9;
}
    /* start .catagories */
    /* start Shop page  */
